

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Key-word Spotting</title>
        <meta name="A application detection when a key-word is spotted." content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% load static %}
        <script type="text/javascript" src="{% static 'js/recorderWorker.js' %}"> </script>
        <fieldset><legend>RECORD AUDIO</legend>
    		<input onclick="startRecording()" type="button" value="start recording" />
    		<input onclick="stopRecording()" type="button" value="stop recording and play" />
        </fieldset>
        
        
        
        
        <h1>Key-word spotting on an audio stream</h1>
        <p id="status"> Connection status will go here</p>
        <p id="spot-plot"></p> 
        <img src="data:image/png;base64,{{ image_uri }}" id="prediction_barchart_id"> 
        
        <!-- <form method="post" action="/upload" enctype="multipart/form-data">
            <label>Audio File: </label>
            <input type="file" name="user_audio"/>
            <br>
            <input value="Upload" type="submit">
          </form> -->

          
        <script> 
         </script>

         </body>
</html>