<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Key-word Spotting</title>
        <meta name="A application detection when a key-word is spotted." content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Key-word spotting on an audio stream</h1>
        <p id="status"> Connection status will go here</p>
        <p id="spot-plot"></p> 


        <script src="" async defer>
            naviagator.mediaDevices.getUserMedia({audio:true}).then((stream) => {
                if (!MediaRecorder.isTypeSupported('audio/webm')) return alter('Browser not supported')
                const mediaRecorder = new mediaRecorder(stream, {mimeType: 'audio/webm'})
            })
            const socket = new WebSocket('ws://localhost:8000/listen')
            socket.onopen = () => {
                document.querySelector('#status').textContent = 'Connected'
                console.log({
                    event: 'onopen'
                })
            mediaRecorder.addEventListener('dataavailable' async (event) => {
                if (event.data.size > 0 && socket.readyState == 1 ) {
                    socket.send(event.data)
                }
            })
            }
            socket.onmessage = (message) => {
                const received = message.data
                if (received) {
                    console.log(received)
                    <!-- want to recieve a plot continously update, and not just the bits. Need to use document.querySelector to select a plot -->
                    document.querySelector('#spot-plot').textcontent += '' + received
                }
            }
        </script>
    </body>
</html>