<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Key-word Spotting</title>
        <meta name="A application detection when a key-word is spotted." content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Key-word spotting on an audio stream</h1>
        <p id="status"> Connection status will go here</p>
        <p id="spot-plot"></p> 
        <img src="data:image/png;base64,{{ image_uri }}" id="prediction_barchart_id"> 



        {% comment %} https://dev.to/deepgram/live-transcription-with-python-and-django-4aj2 {% endcomment %}
        <script>
            {% comment %} var decoder = new OpusToPCM({
                channels: 1
             })
             
             decoder.on('decode' function(pcmData) {
                socket.send(pcmData);
             })
              {% endcomment %}
            navigator.mediaDevices.getUserMedia({ audio: true }).then((stream) => {
                if (!MediaRecorder.isTypeSupported('audio/webm'))
                    return alert('Browser not supported')
    
                const mediaRecorder = new MediaRecorder(stream, {
                    audioBitsPerSecond: 256000,
                    mimeType: 'audio/webm;codecs=opus',

                })
    
                const socket = new WebSocket('ws://localhost:8000/listen')
                 
                socket.onopen = () => {
                    document.querySelector('#status').textContent = 'Connected'
                    console.log({ event: 'onopen' })
                    mediaRecorder.addEventListener('dataavailable', async (event) => {
                        if (event.data.size > 0 && socket.readyState == 1) {
                            socket.send(event.data)
                        }
                })
                mediaRecorder.start(10)
                
                }
    
                socket.onmessage = (message) => {
                    const received = message.data
                    if (received) {
                        console.log(received)
                        document.querySelector('#prediction_barchart_id').src= "data:image/png;base64," + received
                    }
               }
    
               socket.onclose = () => {
                console.log({ event: 'onclose' })
            }
    
                socket.onerror = (error) => {
                    console.log({ event: 'onerror', error })
                }
    
               })
 
               



{% comment %} 


            navigator.mediaDevices.getUserMedia({ audio: true }).then((stream) => {
             if (!MediaRecorder.isTypeSupported('audio/webm'))
                 return alert('Browser not supported')
            
             const options = {
                audioBitsPerSecond: 256000,
                mimeType: 'audio/webm;codecs=opus',
                         }
            
             var mediaRecorder = new MediaRecorder(stream, options)
            })

             var socket = new WebSocket('ws://localhost:8000/listen')
             socket.binaryType = 'arraybuffer'




             socket.onopen = () => {
                 document.querySelector('#status').textContent = 'Connected'
                 
                 console.log({ event: 'onopen' })

                 mediaRecorder.addEventListener('dataavailable', async (event) => {
                     if (event.data.size > 0 && socket.readyState == 1) {
                         var = data new Unit16Array(event.data)
                         decoder.decode(data)
                         socket.send(event.data)
                     }
             })
             mediaRecorder.start(1000) // number of milliseconds to send in batchs. Align this with model who has expection on input length             
             
             }
 
             socket.onmessage = (message) => {
                 const received = message.data
                 if (received) {
                     console.log(received)
                     document.querySelector('#prediction_barchart_id').src= "data:image/png;base64," + received
                 }
            }
 
            socket.onclose = () => {
             console.log({ event: 'onclose' })
         }
 
             socket.onerror = (error) => {
                 console.log({ event: 'onerror', error })
             }
  {% endcomment %}
           
 
         </script>
         {% comment %} {% load static %}
         <script src= "{% static 'js/opus-to-pcm/dist/opus_to_pcm.js' %}"></script> {% endcomment %}
         {% comment %} <script src="./opus-to-pcm/dist/opus_to_pcm.js"></script> {% endcomment %}
    </body>
</html>