Pipfile
output/
.ipynb_checkpoints/
data/
**/runs/
lightning_logs/
*.odp*
speech_commands_v0.02.tar.gz
*.ckpt
*.onnx
*.pt
*__pycache__*
/dataset
.~lock.reducing-inference-time.odp#
*/tflite
*/tf
.env
app/build/
*/runs/*
presentations/
output/