nnAudio
transformers
torch==1.12.1+cu113
torch-audiomentations==0.11.0
torch-pitch-shift==1.2.2
torchaudio==0.12.1+cu113
torchmetrics==0.9.3
torchvision==0.13.1+cu113
pytorch-lightning
pydantic
pandas
matplotlib
https://download.pytorch.org/whl/nightly/
onnxruntime-gpu
onnxruntime
onnx
latex
torchlibrosa