channels==3.0.4
django==4.0.0
matplotlib==3.10.0
numpy==2.2.1
requests==2.32.3
#git+https://github.com/TeamPyOgg/PyOgg
git+https://github.com/akinwilson/PyOgg
# pyaudio==0.2.14
# ffmpeg-python
# pyogg